<%- include('./partials/header'); %>

    <body class=" h-full  flex items-center justify-center bg-[#f8cb46]" >

        <div class=" h-[100%] w-full ">
            <!-- Full-screen Image -->
            <img src="/images/blinkit.png" alt="Background Image" class=" w-[100%] h-[100%]">

            <!-- Button at the Bottom -->
            <div class="absolute bottom-0 w-full flex justify-center mb-20">
                <a href="/auth/google"
                    class="bg-black text-white font-semibold py-3 px-6 rounded-lg hover:bg-black transition duration-300">
                    Continue with Google
                </a>
            </div>
        </div>

    </body>

    <%- include('./partials/footer'); %>